  <h1>Stupid Coaching</h1>

  <div>
  <p><%= @question %></p>
  <h5>-You</h5>
  </div>


  </div>
  <p><%= @answer %></p>
  <h5>-Your coach</h5>
  </div>

<%= link_to "Ask a new question", ask_path %>
